@charset "UTF-8";
/* Colors */

$dark: #100e0c;

$green: #9dc500;
$green: #86a022;

$yellow: #ffb400;
$red: #ff2e02;

$lightText: lighten($dark, 50%);

$lightGray: #e3e3e3;

$borderRadius: 2px;

/* Breakpoint */

$sm: "only screen and (min-width : 576px)";
$md: "only screen and (min-width : 768px)";
$lg: "only screen and (min-width : 992px)";
$xl: "only screen and (min-width : 1200px)";
$xxl: "only screen and (min-width : 1360px)";

/* Others */

$softBounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$softBounce: cubic-bezier(0.68, -0.55, 0.265, 2.15);
//	$softBounce: cubic-bezier(0.68, -0.55, 0.265, 1.30);
@import 'vicons';

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&subset=latin-ext');
body {
    position: relative;
}

#primal-admin-panel {
    font-family: 'Poppins', sans-serif;

    textarea, option {
        font-family: 'Poppins', sans-serif;
    }


    .primal-tab-radio {
        display: none;
        &:checked + .primal-quick-nav {
            display: none;
        }
        &:checked + .primal-tab {
            .primal-tab-content {
                animation: opentab .7s normal forwards;

                .primal-tab-label {
                    cursor: auto;
                }
            }
        }


        &::not(:checked) {
            //            animation: closetab .7s normal forwards;   
        }
    }

    position: fixed;
    top: 15px;
    left: 0;
    @media #{$sm} {
        left: 15px;
    }
    z-index: 99999;

    width: 340px;
    max-width: 100%;

    .primal-tab {
        position: relative;
        margin: 0 0 20px;

        &::before {
            content: '';
            position: absolute;
            top: 35px;
            left: 0;
            width: 100%;
            height: calc( 100% - 70px);

            background-image: linear-gradient(to bottom, #414141, #515151);
            background-position: center;
            background-size: 100%;

            border-radius: 10px;
            border-radius: 2px;
        }

        border-radius: 10px;
        border-radius: 2px;
        filter: drop-shadow(0 2px 15px rgba(black, 0.1));

        &,
        * {
            box-sizing: border-box;
        }

        .primal-tab-content {
            display: block;
            position: relative;

            margin: 0 3px;
            @media #{$sm} {
                margin: 0 15px;
            }
            padding: 15px 25px;

            max-height: 50px;

            overflow: hidden;

            background-color: white;
            border-radius: 2px;

            transition: .5s $softBounce;

            &:hover {
                //                filter: drop-shadow(0 7px 10px rgba(black, 0.3));
            }

            .primal-tab-label {
                text-align: center;
                color: $red;
                color: $lightText;

                margin: -15px -30px 0;
                padding: 15px 30px;

                font-weight: 500;


                i {
                    margin-left: 10px;
                    font-size: 20px;
                }


                transition: .5s;

                &:hover {
                    color: $dark;
                }
            }

            label {
                display: block;
                cursor: pointer;
            }

            .cms-input {
                display: block;

                margin-top: 15px;
                margin-bottom: 15px;

                input[type="text"],
                input[type="password"],
                textarea,
                select {
                    width: 100%;
                    padding: 25px 0 10px;
                    border: none;
                    border-bottom: 1px solid $lightGray;
                    caret-color: $red;
                    caret-color: $green;

                    font-size: 13px;
                    outline: none;

                    transition: border .4s;

                    &:focus {
                        border-color: $green;
                        & + label { 
                            color: $green;
                        }
                    }
                    
                    &::placeholder {
                        text-align: right;
                        opacity: .15;
                    }
                }

                textarea {
                    resize: vertical;
                    height: 95px;
                    padding-bottom: 0;
                    min-height: 60px;
                    max-height: 180px;
                    border-bottom-right-radius: 0;

                    overflow: hidden;
                }

                &.chbox,
                &.rdbox {
                    & > input {
                        display: none;

                        &:checked {
                            & + .checkbox,
                            & + .radiobox {
                                &, & + label {
                                    color: $green;
                                    opacity: 1;
                                }
                                & ~ .more-when-checked {
                                    animation: opensubtab .7s normal forwards;
                                }
                            }                            
                        }
                    }

                    & > .checkbox, 
                    & > .radiobox { 
                        &,
                        & + label {
                            color: $dark;
                            opacity: .2;
                        }
                        
                        transition: .4s;
                    } 

                    .checkbox, 
                    .radiobox {
                        & + label {
                            top: 5px;
                            left: 0;
                            right: 0;
                            background-color: transparent;
                            display: inline-block;
                            font-weight: 500;
                            text-align: right;
                            width: 100%;
                        }   
                    }

                    .more-when-checked {
                        position: absolute;
                        bottom: 100%;
                        left: 0;
                        width: 100%;
                        width: calc(100% + 20px);
                        background-color: white;
                        padding: 0 10px;
                        margin: 0 -10px;
                        border-radius: 2px;

                        overflow: hidden;
                        max-height: 0px;
                        
                        box-shadow: 0 0 0 rgba(black, 0);
                        animation: closesubtab .7s normal forwards;
                        
                        .primal-save {
                            margin-bottom: 10px;
                        }
                    }
                }
                
                .option {
                    & > .checkbox,
                    & > .radiobox {
                        &, & + label {
                            color: $lightText;
                            opacity: 1;
                        }
                    }
                    &:hover {
                      & > .checkbox,
                        & > .radiobox {
                            &, & + label {
                                color: $dark;
                            }
                        }  
                    }
                }

                input[type="checkbox"] {}

                select {
                    border: 1px solid $lightGray;
                    border-radius: 2px;
                    padding: 25px 7px 10px;
                    cursor: pointer;
                    option {
                        padding: 0;
                    }
                    & + label {
                        top: 5px;
                        left: 12px;
                    }                    
                    appearance: none;
                }

                position: relative;
                label {
                    position: absolute;
                    top: 0;
                    left: 0;

                    color: $lightText;
                    text-transform: lowercase;
                    font-size: 12px;

                    font-weight: 400;

                    transition: color .4s;
                }
                &[data-characters]::after {
                    content: attr(data-characters);
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $lightText;
                    text-transform: lowercase;
                    font-size: 12px;
                    font-weight: 400;
                    transition: color .4s;
                }
            }
            
            .cms-select {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    width: 0;
                    height: 0;
                    border: 5px solid transparent;
                    border-top-color: $lightGray;
                    pointer-events: none;
                }
            }

            .primal-save {
                display: block;
                width: 100%;
                margin: 0 auto;
                padding: 10px 17px;

                cursor: pointer;
                background: transparent;
                border: 1px solid $lightGray;

                border-radius: 2px;
 

                text-transform: lowercase;
                text-align: center;
                color: $dark;
                font-size: 13px;
                line-height: 25px;


                i {
                    margin-left: 10px;
                    font-size: 20px;
                }

                transition: .3s;
                &:hover,
                &:active {
                    border-color: $green;
                }
            }

            .primal-hidden-fields {
                display: none !important;
            }

            .primal-menu-input {
                padding-top: 25px !important;
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
                [draggable] {
                    user-select: none;
                }

                ul,
                li {
                    padding: 0;
                    list-style: none;
                }

                li {
                    font-size: 13px;
                    padding: 5px;
                    padding-left: 10px;

                    background-color: white;

                    border-radius: 3px;
                    border: 1px solid $lightGray;

                    cursor: pointer;

                    margin-bottom: 3px;

                    .cms-menu-admin {
                        float: right;

                        i {
                            margin: 0 5px;
                        }
                    }

                    i {

                        &.d-title {
                            position: relative;
                            &::after {
                                content: attr(data-title);

                                position: absolute;
                                top: 300%;
                                left: 50%;
                                z-index: 2;
                                padding: 5px 10px;
                                border-radius: 5px;
                                transform: translateX(-50%);

                                font-family: 'Raleway', sans-serif;
                                font-size: 10px;
                                
                                text-transform: lowercase;

                                background-color: $red;
                                color: white;

                                white-space: nowrap;

                                opacity: 0;
                                pointer-events: none;

                                transition: .1s;
                            }

                            &:hover::after {
                                top: 100%;
                                opacity: 1;
                            }
                        }
                    }

                    &:hover {
                        border-color: $green;
                    }

                    &:active {
                        cursor: grabbing;
                    }

                    &[data-target="false"] {
                        .primal-icon-windows {
                            color: $lightGray;
                        }
                    }
                    
                    &[data-rel="true"] {
                        .primal-icon-calendar {
                            color: $lightGray;
                        }
                    }
                }

                margin-bottom: 12px;
                padding: 15px 0;
            }

            animation: closetab .7s normal forwards;
        }

        ::-moz-selection {
            color: white;
            background: lighten( $red, 10%);
        }

        ::selection {
            color: white;
            background: lighten( $red, 10%);
        }
    }

    .primal-quick-nav {
        display: block;
        text-align: center;

        .primal-quick-btn {
            display: inline-block;
            cursor: pointer;
            background-color: $red;
            background-color: $lightText;
            background-color: $dark;
            color: white;
            width: 50px;
            height: 50px;
            margin: 0 7px;
            border-radius: 50%;
            line-height: 47px;
            font-size: 24px;

            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

            transition: .3s;

            &:hover,
            &:active {
                background-color: $red;
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
            }
        }
    }
}



#primal-reaction {
    position: fixed;
    top: -100px;
    right: -350px;

    max-width: 100%;
    max-width: calc(100% - 30px);

    z-index: 109999;

    padding: 10px 20px;
    border-radius: 25px;

    font-size: 13px;
    line-height: 25px;
    color: white;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: .3s $softBounce;

    i {
        margin-left: 10px;
        font-size: 20px;
    }

    .primal-icon-refresh {
        display: inline-block;
        transform-origin: 50% 50%;
        animation: rotate 1.5s infinite alternate backwards $softBounce;
        animation: rotate 1.5s infinite $softBounce;
    }

    &.success,
    &.fail {
        top: 15px;
        right: 15px;
    }

    &.success {

        color: darken( $green, 35%);
        color: white;
        background-color: $green;
    }

    &.fail {
        background-color: $red;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes opensubtab {
    0% {
        padding: 0 10px;
        max-height: 0;
        box-shadow: 0 0 0 rgba(black, 0);
        overflow: hidden;
    }
    30% {
        padding: 10px;
        box-shadow: 0 5px 15px rgba(black, 0.3);
    }
    99% {
        max-height: 400px;
        overflow: hidden;
    }
    100% {
        padding: 10px;
        max-height: none;
        overflow: visible;
        box-shadow: 0 5px 15px rgba(black, 0.3);
    }
}

@keyframes closesubtab {
    0% {
        padding: 10px;
        max-height: none;
        box-shadow: 0 5px 15px rgba(black, 0.1);
    }
    1% {
        max-height: 100vh;
    }
    100% {
        max-height: 0;
        box-shadow: 0 0 0 rgba(black, 0);
    }
}


@keyframes opentab {
    0% {
        padding: 15px 25px;
        max-height: 50px;
    }
    50% {
        padding: 35px 25px;
    }
    90% {
        max-height: 100vh;
    }
    100% {
        padding: 35px 25px;
        max-height: none;
        overflow: visible;
    }
}

@keyframes closetab {
    0% {
        max-height: none;
    }
    1% {
        max-height: 100vh;
    }
    80% {
        max-height: 50px;
    }
    100% {
        max-height: 50px;
    }
}
